@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

body {
  background-image: url(https://i.pinimg.com/236x/78/ac/1a/78ac1abbbc12c93f4cd9b09be3ae3420.jpg);
  
}



/* h1
{
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
} */

/* From uiverse.io by @gagan-gv */
.loader span {
  font-size: 70px;
  font-weight: 600;
  animation: blur 3s linear infinite;
  line-height: 20px;
  transition: all 0.7s;
  letter-spacing: 0.2em;
 }
 
 @keyframes blur {
  0%, 90% {
   filter: blur(0);
  }
 
  60% {
   filter: blur(10px);
  }
 }

@keyframes loading6454 {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: rgb(140, 58, 179);
  border-radius: 30px;
  padding: 10px;
}

.searchbar {
  font-size: 14px;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 44px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 224px;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgba(83, 13, 78, 0.28);
  border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar-left {
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbar-right {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row
}

.searchbar-clear-icon {
  margin-right: 12px
}

.voice-search {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 2.8em;
}
.card-header {
  background-image: linear-gradient(163deg, #680750 0%, #7c1691 100%);
  text-align: center;
}
.card {
background-color: transparent;
  border: 2px solid #131413;
  box-shadow: 2px 2px 15px #000000 inset;
}
/* From uiverse.io */

/*Button 1*/

button.b1 {
  padding: 1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 1000;
  color: #000;
  background-color: #fff;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}



button.b1:active {
  transform: translateY(-1px);
}

/*Button 2*/

button.b2 {
  padding: 1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 1000;
  color: #000;
  background-color: #fff;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}



button.b2:active {
  transform: translateY(-1px);
}

/*Button 3*/

button.b3 {
  padding: 1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 1000;
  color: #000;
  background-color: #fff;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}



button.b3:active {
  transform: translateY(-1px);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button.b3:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
